
 <div class="jumbotron">
   <h2>Contact List</h2>
   <p>
     Gerencie seus contatos em qualquer lugar!
   </p>

   <p class="lead">
     <%= link_to "Crie Sua Conta", "#", class: "btn btn-primary btn-lg" %>
   </p>
 </div>
