<footer class="my-5 pt-5 text-muted text-center text-small">
  <p class="mb-1">&copy; <%= link_to 'Contact List. Todos os direitos reservados.', root_path %></p>

  <nav>
    <ul class="list-inline">
      <li class="list-inline-item">
          <%= link_to 'Sobre', sobre_path %>
      </li>
      <li class="list-inline-item">
          <%= link_to 'Contato', contato_path %>
      </li>
    </ul>
  </nav>
</footer>
